.navbar {
    padding: 20px;
    background-color: #2b2c7184;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
}

#add button {
    background-color:#2b2c7184;
    color: white;
    width: 100%;
}

#add button:hover {
    background-color:#16175284;
}

.btn-update {
    background-color:#2b2c7184;
    color: white;
    width: 30%;
}

.btn-update:hover {
    background-color:#11123b84;
}

.user-info a {
    margin-left: 10px;
}

.list-entry {
    color: white;
    background-color: #2b2c7184;
    border: 1px solid;
    padding: 10px;
}

.product-images img {
    width: 100px;
}