html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito Sans", sans-serif;
}

p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #ffffff;
	background: #000000;
	letter-spacing: 4px;
}

.header {
	background: #ffffff;
}

.header-top {
	background: #111111;
	padding: 10px 0;
}

.header-top_left p {
	color: #ffffff;
	margin-bottom: 0;
}

.header-top_right {
	text-align: right;
}

.header-top_right .dropdown {
	display: inline-block;
}

.btn-lang {
	background-color: #111111;
	color: white;
	border: none;
}

.header-top_links {
	display: inline-block;
	margin-right: 25px;
}

.header-top_links a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 28px;
	display: inline-block;
}

.navbar-brand {
	font-size: xx-large;
}

.nav-link {
	font-size: large;
	margin: 0px 20px;
}

.header-nav-option {
	text-align: right;
	padding: 30px 0;
}

.header-nav-option a {
	display: inline-block;
	margin-right: 26px;
	position: relative;
}

.header-nav-option a span {
	color: #0d0d0d;
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 8px;
}


.hero__slider.owl-carousel .owl-item.active .hero__text h6 {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text h2 {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text p {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text .primary-btn {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-nav button {
	font-size: 36px;
	color: #333333;
	position: absolute;
	left: 75px;
	top: 50%;
	margin-top: -18px;
	line-height: 29px;
}

.hero__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 75px;
}

.hero__items {
	height: 800px;
	padding-top: 230px;
}

.hero__text h6 {
	color: #8a8888;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 28px;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.hero__text h2 {
	color: #dedada;
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	margin-bottom: 30px;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 0.6s;
	-o-transition: all, 0.6s;
	transition: all, 0.6s;
}

.hero__text p {
	color: #c5c4c4;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 35px;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 0.9s;
	-o-transition: all, 0.9s;
	transition: all, 0.9s;
}

.hero__text .primary-btn {
	color: #111;
	background-color: #e5e5e5;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 1.1s;
	-o-transition: all, 1.1s;
	transition: all, 1.1s;
}

.hero__text .primary-btn span {
	font-size: 20px;
	position: relative;
	top: 4px;
	font-weight: 700;
}

.product__item {
	overflow: hidden;
	margin-bottom: 40px;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text p {
	font-size: 15px;
	color: #616161;
	font-weight: 700;
}

.product__item__text h6 {
	color: #111111;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.product__item__text h5 {
	color: #0d0d0d;
	font-weight: 700;
}

.owl-nav {
	display: flex;
	justify-content: center;
}

.owl-nav button {
	margin: 0px 15px;
}

#auth {
    background-color: rgb(244, 243, 243);
    padding: 50px;
    border-radius: 20px;
    justify-content: center;
}

#auth button {
    background-color:#67a0f0;
    color: white;
    width: 100%;
}

#auth a {
    color: rgb(17, 38, 49);
}

#auth a:hover {
    color: rgb(42, 5, 39);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info a {
    margin-left: 10px;
}
